@model CustomerViewModel
@{
    ViewData["Title"] = "Details";
}




<h1>Customers Details</h1>

<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li class="list-group-item"><b>CustName :</b> @Model.CustName</li>
            <li class="list-group-item"><b>CustAddress :</b>@Model.CustAddress</li>
            <li class="list-group-item"><b>CustPhNo:</b>@Model.CustPhNo</li>
            <li class="list-group-item"><b>CustEmail:</b>@Model.CustEmail</li>
        </ul>
        <a asp-controller="Customers" asp-action="Index">Back to List</a>
    </div>
</div>

