@model CustomerViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit a Customer</h1>


<form asp-controller="Customer" asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="CustName" class="form-label"></label>
                <input type="text" asp-for="CustName" class="form-control" />
                <span asp-validation-for="CustName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="CustAddress" class="form-label"></label>
                <input type="text" asp-for="CustAddress" class="form-control" />
                <span asp-validation-for="CustAddress"></span>
            </div>
            <div class="mb-2">
                <label asp-for="CustPhNo" class="form-label"></label>
                <input type="text" asp-for="CustPhNo" class="form-control" />
                <span asp-validation-for="CustPhNo"></span>
            </div>
            <div class="mb-2">
                <label asp-for="CustEmail" class="form-label"></label>
                <input type="text" asp-for="CustEmail" class="form-control" />
                <span asp-validation-for="CustEmail"></span>
            </div>
            <div class="mt-2 d-grid">
                <input type="submit" class="btn btn-primary" value="Update Customer" />
            </div>
        </div>
    </div>
</form>

@section Scripts{

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
    }
}